*{
  font-family: 'Dancing Script', cursive;
}
meta{
  display: none;
}

body{
  background: #02010a;
  margin: 0px;
}

header h1{
  color: white;
  font-size: 2em;
  padding-left: 1%;
  -webkit-text-shadow: 2px color #02010a;
  -moz-text-shadow: 2px color #02010a;
  text-shadow: 2px 2px 2px  #02010a;
}

header{
  padding-top: 2px; /*1vh 1vw;*/
  padding-bottom: 1px;
/*background: -webkit-linear-gradient(left, #1f47a8, #55dedf);
  background: -o-linear-gradient(right, #1f47a8, #55dedf);
  background: -moz-linear-gradient(right, #1f47a8, #55dedf);*/
  background: #5b7989;
  animation: slideIn 2s;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

 /*nav{
  height: 100%;

}*/
a{
  text-decoration: none;
  color: inherit;
}

.facebook{
  color: blue;
}
.whatsapp{
  color: green;
}
.instagram{
  color:red;
}

#menu-principal li {
   display: inline;
 }


#menu-principal li a {
  padding: 10px;
  text-decoration: none;  /* quitar el subrayafi*/
  color: white;
  background: #5b7989;
}

#contenido{
  display: flex;
  flex-direction:column;
  background: #82c3a6;
  width: 900px;
  margin: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
 }

 .contenedor{
   display: flex;
   justify-content: space-between;
 }

.c1{
  width: 30%;
}

.c1 img{
   width: 100%;
   align-content: center;
   border: 2px;
  -webkit-box-shadow: 2px color #02010a;
  -moz-box-shadow: 2px color #02010a;
  box-shadow:  2px 2px 2px 2px #02010a;
}

.c2 img{
  width: 100%;
  align-content: center;
  border: 2px;
  -webkit-box-shadow: 2px color #02010a;
  -moz-box-shadow: 2px color #02010a;
  box-shadow:  2px 2px 2px 2px #02010a;
}

.c1 img:hover{
  transform: rotate(10deg);
  border: 2px;
  -webkit-box-shadow: 2px color #82c3a6;
  -moz-box-shadow: 2px color #82c3a6;
  box-shadow:  2px 2px 2px 2px #82c3a6;
}

.c2 img:hover{
  transform: translate(20px, -5px);
  box-shadow:  2px 2px 2px 2px #82c3a6;
  border: 2px;
}

#uno{
  width: 100%;
}

#contenido .contenedor {/*ancho contenedor y color*/
  background: #d5c75f;
  display: flex;
  width: 100%;
}

strong#lpaisaje{
  color:black;
  text-decoration:underline;  /* quitar el subrayafi*/
  font-size: 20px;
  text-align:center;
}

strong#lretrato{
  color:black;
  text-decoration:underline;  /* quitar el subrayafi*/
  font-size: 20px;
  text-align: center;
}

div[class*="columna"]{
  display: flex;
  flex-direction: column;
  padding-left: 8%;
  color: black;
}

footer {
  background-color: #C6d5c5;
  display: flex;
  flex-direction: row;
  border-radius: 0 0 10px 10px;
  -moz-border-radius: 0 0 10px 10px;
  -webkit-border-radius: 0 0 10px 10px;
  align-items: center;
  justify-content: center;
}

footer nav img{
  width: 20px;
  height: 20px;
}

nav a{
  margin-right: 20px;
}
@media (max-width: 900px){
  footer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 60px;

    /*justify-content: flex-start;/*revisar mas luego*/
    /*background-color: red !important;    ---!important forza su uso*/ 
  }
  
  .contenedor{
    flex-direction: column;
  }
  .c1  img{  /*cambiando tamaño foto uno para ver por movil */
    width: 100%;
  }

  .c1{
    width: 100%;
  }
}

@media (max-width: 500px){
  header {
    flex-direction: column;
    align-items: center;
  }

  header h1{
    margin-bottom: 0;
  }

  footer h3{
    font-size: 4em;
    margin-bottom: 0;
  }

  footer p, footer nav, header{
    font-size: 2.4em;
  }

  footer nav img{
    width: 40px;
    height: 40px;
  }
}

div[class*="c"]{
  padding-left: 0;
  padding-bottom: 5%;
}

div[class*="columna"]{
  padding-left: 1%;
  padding-bottom: 5%;
}

@media print{
  .contenedor{
    width: 100%;
  }
  header  h1{
    text-align: center;
  }
}


/*@media (max-width:600px) {
  footer{
    display: flex;
    flex-direction: column;
  }
  div[class*="columna"]{
    padding-left: 0;
    padding-bottom: 5%;
    }
  }*/

@keyframes slideIn {
  0%{
    margin-top:150%;
  }
  60%{
    margin-top:-5%;
  }
  100%{
    margin-top:0%;
  }
}
